<h1 class="m-4">Results</h1>

<div class="m-4">
  <h3> <%= @resultsMessage %> </h3>

  <h4> <%= "It's worth #{@score} points!" %> </h4>

  <h4> <%= "You now have a total of #{session[:global_score]} points!" %> </h4>

  <a href="new">Play again?</a>
</div>
